
src/
target/classes/
target/generated-sources/
target/generated-test-sources/
target/test-classes/
.dockerignore
pom.xml
docker-compose.yml

target/LogCollector-1.0-shaded.jar
target/original-LogCollector-1.0.jar
