<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
<!--        Default logger for all logger -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%-5level] %msg%n}{WARN=yellow, INFO=def, TRACE=def, DEBUG=def}" disableAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
    </Loggers>
</Configuration>
