# IDE
.idea
*.iml

# ServerManager
target

# BungeePlugin
BungeePlugin/target
BungeePlugin/docker

# MinecraftPlugin
MinecraftPlugin/target
MinecraftPlugin/docker/server

# Commons
Commons/target

# Server
Server/target
Server/server/configs/*
Server/server/images/*
Server/server/internal/security/api-certs/*
Server/server/internal/security/registry-certs/*
Server/server/internal/workdirs/dns/*
Server/META-INF/*
