<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="logPath">./logs</Property>
        <Property name="rollingFileName">ServerManager-log4j.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{white} %highlight{[%-5level]}{INFO=blue} %highlight{%msg%n%throwable}{INFO=def, TRACE=def, DEBUG=def}" disableAnsi="false"/>
        </Console>

        <RollingFile name="RollingFile" fileName="${logPath}/${rollingFileName}.log" immediateFlush="true" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %msg%n%throwable" />
            <Policies>
                <!-- Causes a rollover if the log file is older than the current JVM's start time -->
                <OnStartupTriggeringPolicy />
                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Log everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
        <logger name="org.hibernate" level="error" additivity="true"/>
    </Loggers>

</Configuration>