[req]
default_bits = 4096
prompt = no
default_md = sha265
x509_extensions = v3_req
distinguished_name = dn
[dn]
C = "{C}"
ST = "{ST}"
L = "{L}"
O = "{O}"
emailAddress = "{M}"
CN = registry.swarm
[v3_req]
subjectAltName = @alt_names
[alt_names]
DNS.1 = registry.swarm
DNS.2 = registry
