
<plugin>
    <groupId>org.apache.maven.plugins</groupId>
    <artifactId>maven-shade-plugin</artifactId>
    <version>3.2.1</version>
    <executions>
        <execution>
            <phase>package</phase>
            <goals>
                <goal>shade</goal>
            </goals>
            <configuration>
                <finalName>etcd-${version}-shaded</finalName>
                <relocations combine.children="append">
                    <relocation>
                        <pattern>com.google.common</pattern>
                        <shadedPattern>shaded.com.google.common</shadedPattern>
                        <includes>
                            <include>com.google.common.**</include>
                        </includes>
                    </relocation>
                </relocations>
                <artifactSet>
                    <includes>
                        <include>com.google.guava:guava</include>
                        <include>com.google.guava:failureaccess</include>
                        <include>io.grpc:*</include>
                    </includes>
                </artifactSet>
            </configuration>
        </execution>
    </executions>
</plugin>