events {
  worker_connections 1024;
}

stream {
  upstream bungee_pool {
{{ range gets "/bungeecords/*" -}}
  {{ $name := base .Key -}}
  {{ $port := (print .Key "/port") -}}
  {{ with get $port }}
    server {{ $name }}:{{ .Value }};
  {{- end -}}
{{ end }}

  }

  server {
    listen 25577;
    proxy_pass minecraft_servers;
    proxy_buffer_size 16k;
  }
}