<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">/var/log/dmcdriver</Property>
        <Property name="rollingFileName">dmcLogDriver</Property>
    </Properties>

    <Appenders>
<!--    Default logger for all logger -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %msg%n%throwable" disableAnsi="false"/>
        </Console>
<!--    Save to a file -->
        <RollingFile name="RollingFile" fileName="${logPath}/${rollingFileName}.log" immediateFlush="true" filePattern="${logPath}/${rollingFileName}_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%-5level] %msg%n%throwable" />
            <Policies>
                <!-- Causes a rollover if the log file is older than the current JVM's start time -->
                <OnStartupTriggeringPolicy />
                <!-- Causes a rollover once the date/time pattern no longer applies to the active file -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
        <logger name="org.hibernate" level="error" additivity="true"/>
        <logger name="de.derteufelqwe" level="debug" additivity="true"/>
    </Loggers>
</Configuration>
